@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 170 44% 94%;
    --foreground: 171 40% 15%;
    --card: 0 0% 100%;
    --card-foreground: 171 40% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 171 40% 15%;
    --primary: 171 23% 38%;
    --primary-foreground: 170 44% 98%;
    --secondary: 170 30% 88%;
    --secondary-foreground: 171 23% 25%;
    --muted: 170 20% 92%;
    --muted-foreground: 171 20% 45%;
    --accent: 128 22% 49%;
    --accent-foreground: 170 44% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 171 20% 85%;
    --input: 171 20% 85%;
    --ring: 171 23% 38%;
    --chart-1: 171 23% 38%;
    --chart-2: 128 22% 49%;
    --chart-3: 170 44% 75%;
    --chart-4: 171 10% 25%;
    --chart-5: 128 15% 40%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 171 40% 10%;
    --foreground: 170 44% 98%;
    --card: 171 40% 12%;
    --card-foreground: 170 44% 98%;
    --popover: 171 40% 12%;
    --popover-foreground: 170 44% 98%;
    --primary: 170 44% 90%;
    --primary-foreground: 171 40% 10%;
    --secondary: 171 30% 20%;
    --secondary-foreground: 170 44% 90%;
    --muted: 171 30% 20%;
    --muted-foreground: 171 10% 65%;
    --accent: 128 22% 40%;
    --accent-foreground: 170 44% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 171 30% 20%;
    --input: 171 30% 20%;
    --ring: 170 44% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}